@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 id="hello_world" class="display-4 green-text" onmouseover="newColor()" onmouseout="oldColor()">Hello, World</h1>
    <p>TYCHO - TIME TO RUN</a>.</p>
</div>

<div align="center">

    <iframe width="560" height="315" src="https://www.youtube.com/embed/38bw_3hQK8o?si=2h86YkHGnEY6P07M" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;
web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>

<canvas id="canvas"></canvas>